<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>

		<!-- log do pliku -->
		<target xsi:type="File" name="request-time"
				fileName="C:/Users/mczyr/source/repos/restaurantApi/restaurantApi/logs/request-time.log"
				layout="${longdate}|${level}|${logger}|${message} ${exception}" />
		
		<!-- log do konsoli -->
		<target xsi:type="Console" name="console"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception}" />

		<!-- log do pliku -->
		<target xsi:type="File" name="file"
				fileName="C:/Users/mczyr/source/repos/restaurantApi/restaurantApi/logs/app-${shortdate}.log"
				layout="${longdate}|${level}|${logger}|${message} ${exception}" />

		
		
	</targets>

	<rules>

		

		<!-- 1) Konsola: pokaż standardowy start aplikacji -->
		<logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="console,file" final="true" />
		<logger name="Microsoft.AspNetCore.Hosting.Diagnostics" minlevel="Info" writeTo="console,file" final="true" />

		<!-- 2) Plik: tylko Twoje serwisy 
		<logger name="restaurantAPI.Services.*" minlevel="Info" writeTo="file, console" final="true" />-->

		<logger name="restaurantAPI.Middleware.RequestTimeMiddleware" minlevel="Info" writeTo="request-time" />

		<!-- 3) (opcjonalnie) Konsola: Twoje serwisy też -->
		<logger name="restaurantAPI.*" minlevel="Info" writeTo="file,console" final="true" />

		<!-- 4) resztę ignoruj, żeby nie było spamu -->
		<logger name="*" minlevel="Trace" final="true" />

		

	</rules>


</nlog>